SECRET_KEY=generate-sendiri-pake-python-secrets
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173

DB_USER=postgres
DB_PASSWORD=isi-password-postgres-lokal-lu
DB_HOST=localhost
DB_PORT=5432